@{
    //Changed to only check if the cookie exists
    //If the cookie has the min-value for time then it this value will return false.
    var cookie = Request.Cookies.Get(Ttu.Domain.Constants.COOKIE_NAME);
    var hasCookie = cookie != null;
    bool isInSession = hasCookie; 
    //Don't want to do this twice
    ViewData["hasCookie"] = hasCookie;
    var isAdmin = isInSession && Convert.ToString(Session["_userId"]) == "ADMIN";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href=@Url.Action("Index", "Home") class="navbar-collapse collapse"><img src="~/Images/volunteer-hands-50px.png"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (isInSession)
                {
                    <li>@Html.ActionLink("Organizations", "Index", "ManageOrganization")</li>
                    <li>@Html.ActionLink("Projects", "Index", "Project")</li>
                    <li>@Html.ActionLink("Recommended Organizations", "Index", "RecommendedOrganization")</li>
                }
                @if (isAdmin)
                {
                    <li><a href="~/elmah">Error Log</a></li>
                }
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
@*<div class="sidebar left">
    This is a test of the SideBar
</div>*@
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - VolunteerMe</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</body>

</html>
