@model IEnumerable<Ttu.Presentation.ProjectModel>

@{
    ViewBag.Title = "Available Projects";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumVolunteers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumVolunteers)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumVolunteers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumVolunteers)
            </td>
        </tr>
    }

</table>
